<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.danny.bookone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" /><!-- bugly start -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" /><!--杀死应用进程-->

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".github.DrawActivity" />
        <activity android:name=".github.PathActivity" />
        <activity android:name=".github.ViewActivity" />
        <activity android:name=".img.GlideImgActivity" />
        <activity android:name=".highLight.NetworkActivity" />
        <activity android:name=".other.CompanyActivity" />
        <activity android:name=".other.DataActivity" />
        <activity android:name=".other.HandlerActivity" />
        <activity
            android:name=".one.ThreeActivity"
            android:label="@string/three_title" />
        <activity
            android:name=".one.HeroActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".one.OneActivity"
            android:label="@string/one_title" />
        <activity android:name=".aac.AacActivity" />
        <activity android:name=".highLight.NewCharacterActivity" />
        <activity android:name=".highLight.ViewScrollActivity" />
        <activity android:name=".highLight.HighLightActivity" />
        <activity android:name=".one.ChapterSevenActivity" />


        <service
            android:name=".service.OpenService"
            android:enabled="true"
            android:exported="true" />
    </application>



</manifest>